.contacts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 32%));
    gap: 70px;
    place-content: center;

    &__content>*:not(:first-child) {
        margin-top: 60px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    &__title {
        grid-column-start: 1;
        grid-column-end: 3;
        max-width: 474px;
        font-weight: bold;
        font-size: 37px;
        line-height: 45px;
    }

    &__link {
        text-decoration: none;
        color: $mainColor;
    }

    &__form {
        display: grid;
        gap: 22px;
        grid-template-columns: 1fr 1fr;
    }

    &__input {
        font-size: 18px;
        color: rgb(79, 79, 79);
        background: rgb(10, 10, 10);
        border-width: 2px;
        border-style: solid;
        border-color: rgb(79, 79, 79);
        border-image: initial;
        border-radius: 2px;
        padding: 23px 27px;
    }

    &__max {
        grid-column-start: 1;
        grid-column-end: 3;
        max-width: 620px;
        position: relative;
    }

    &__input[placeholder],
    &__input * {
        color: $mainColor;
    }

    &__blokc {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 2px solid rgb(79, 79, 79);
        position: relative;
    }

    &__checkbox {
        @include position(0);
    }
}

.active::before {
    content: "\2705";
    position: absolute;
    font-size: 29px;
}

.input-max {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

@media (max-width: 650px) {
    .contacts {
        grid-template-columns: 1fr;
    }

    .contacts__title {
        font-size: clamp(1.563rem, 1.411rem + 0.76vw, 2.313rem);
    }

    .contacts__form {
        grid-template-columns: 1fr;
    }

    .contacts__max {
        grid-column-end: 1;
    }

    .input-max {
        grid-column-end: 1;
        grid-row-end: 6;
        grid-row-start: 5;
    }
}